---
layout: default
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container-fluid">
	<div class="row">
    <div class="col-lg-9">
					{{ content }}
    </div>
    <div class="col-lg-3">
    </br>
    </br>
    <div class="row">
      <div class="avatar-image">
      {% avatar lightningflashstudio size=350 %}
    </div>
      <div id="quote-div" class="bg-primary">
        <h4>Quote</h4>
        <p>«Because you're alive, sir. You might as well ask: Why is life? Don't ask about it. Live it.» </br>–The Stars My Destination,<i>Alfred Bester</i></p>
      </div>
      <div id="search-bttn" class="bg-primary">
        <button type="button" id="esc" style="background-color: transparent; border: none;" onclick="toggleSearch();">Search</button>

      </div>
      <div id="contact-bttn" class="bg-primary">
        <a href="mailto:{{ site.email }}" target="_blank"> Contact </a>
      </div>
    <!--  <div id="donate-div" class="bg-primary" style="text-align: center; margin-top: 40px; margin-bottom: 40px; word-wrap: break-word;">
        <h4>Donate</h4>
        <p id="donate-text">19a1iqnp9uMrrnapceLY11PSPMZr6AMyMH</p>
      </div>
    -->
    </div>
    </div>
  </div>
</div>

<!-- jQuery -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/main.min.js "></script>
